h1{
  text-align: center;
  color: magenta;
}
p{
  text-align: center;
  font-family: sans-serif;
}
label{
  color: blue;
  font-family: monospace;
  font-weight: bold;
  font-size: 17px;
}
.intro{
  background-color: #d4d7de;
  border-radius: 14px;
}
.myform{
  background-color:  #ff5722;
  border-radius: 14px;
}
a{
  float: right;
  padding-right: 4px;
  margin-right: 9px;
}
li{
  padding: 40px;
  list-style: none;
}
